html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
background-color: black;
}
.main_wrapper{
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: #495056;
}
.header_wrapper{
    width:1000px;
    height:70px;
    background-color: white;
}
#b{
    width: 200px;
    font-size: 20px;
    float: left;
    padding-left: 5px;
}
.f1{
padding-left: 20px;
    padding-top:15px;
    float: left;
}
h1 a {
    text-decoration: none;
}
#navbar{
    width:1000px;
    height:50px;
}
#menu {
    padding: 0px;
    line-height: normal;
    margin-top: 5px;
    float: left;

}
#menu li {
    list-style: none;
    display: inline;
    color: blue;
}
#menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding-left: 40px;
}
#menu a:hover {
    text-decoration:blink;
    color:hotpink;
    font-weight: bolder;

}
.contant_wrapper{
    width: 1000px;
    height: 600px;
    background:#F96;
}

#right_contant{
    width: 800px;
    height: 600px;
    background: #FCC;
    float: right;
}
#left_sidebar
{
    width: 200px;
    height: 600px;
    background:#803989;
    float: right;
}
.footer{
    padding-top: 10px;
    width: 1000px;
    height:20px;
    background: white;
    clear: both;
}
#sidebar_title{
    background-color:white;
    color: black;
    padding: 10px;
    font-size:25px;
    font-family:"Palatino Linotype";
}
#category{
    text-align:center;
    padding:10px;
}
#category li {
    list-style:none;
    margin:5px;
}
#category a{
    color:#FFF;
    font-size:20px;
    text-decoration:none;
    margin: 5px;

}
#category a:hover {
    color:deeppink;
    text-decoration: blink;
    font-weight: bold;
}
#headline{
    background: orange;
    color: black;
    float: right;
    height:34px;
    width:780px;
    padding: 10px;

}
#headline_content{
    float: right;
}
#product_box{
    width: 780px;
    padding: 8px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#single_product{
    float: left;
    padding: 10px;
}